:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --icon-hover-rgb: rgb(51, 196, 240);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.profile img {
  width: 200px;
  height: 200px;
  display: block;
  max-width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 3rem;
}

h2.icons {
  font-size: 3.0rem;
  letter-spacing: -.1rem;
}

.icon {
  text-rendering: geometricPrecision !important;
  text-decoration: none;
  border-bottom: none;
  position: relative;
  color: #555555;
  transition: color 0.3s ease;
}

.icon:hover {
  color: var(--icon-hover-rgb)
}